h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input{
  width: 100%;
}

.item-container {
  text-align: left;
}

.kg-row{
  margin: 11px 6px;
}

.kg-button{
  min-width: 80px;
}